#image1 {
  height: 320px;
  width: 480px;
  border-radius: 10px;
}

#image2 {
  height: 320px;
  width: 480px;
  border-radius: 10px;
}

#image3 {
  height: 320px;
  width: 480px;
  border-radius: 10px;
}

#h1 {
  color: black;
}

#header {
  width: 1080px;
  height: 50px;
  z-index: 5;
  color: black;
}
